DISCORD_TOKEN=tu_token_aqui
SPOTIPY_CLIENT_ID=tu_id_aqui
SPOTIPY_CLIENT_SECRET=tu_secret_aqui
SPOTIPY_REDIRECT_URI=https://tu-app-en-railway.app/callback
MAL_CLIENT_ID=tu_mal_id_aqui
DATABASE_URL=postgres://user:pass@host:port/db
